<%- include('header') %>
    <h3>Topic</h3>
    <form action="/topic" method="post">
        <textarea name="topic" id="" cols="80" rows="5" class="form-control"></textarea>
        <div><button type="submit" class="btn btn-primary">Post</button></div>
    </form>

<%- include('footer') %>
    